@import '~/css/variables.scss';


.container {
overflow:hidden;
    display: flex;
    text-align: center;
    align-items: center;
    height: fit-content;
    padding: 5rem;
    width: 100%;
    background: $clr-main-light;
    margin-top: 10rem;
    h1 {
        margin: auto auto;
        color: $clr-text-dark;
    }
}

