@import '~/css/variables.scss';

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;

  
    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        >div:first-child {
            display: flex;
            flex-direction: row;
        }
    }


    .input{
        margin: 2rem 0;
    }

    label {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input {
        width: 10rem;
        height: 5rem;
        font-size: 16px;
        color: $clr-text-black;
        border: 1px solid $clr-lines;
        text-align: center;
        outline: none;
        margin-left: 2rem;
        border-radius: 10px;
    }

    .btn_add{
        margin-top: 2rem;
width: 27rem;
    }
}