@import './variables.scss';

.button_main {
    width: 29rem;
    height: 8rem;
    background-color: $clr-attention;
    color: $clr-text-dark;
    font-family: $font-secondary;
    font-size: $font-h4;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 60px;
    transition: $transition;
    cursor: pointer;


    &:hover {
        background-color: $clr-attention-shade;
    }
}

.button_flex {
    width: 90%;
    height: 8rem;
    background-color: $clr-attention;
    color: $clr-text-dark;
    font-family: $font-secondary;
    font-size: $font-h4;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 60px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: $clr-attention-shade;
    }
}

.button_second {
 
   width: fit-content;
   padding: 0 2rem;
    height: 8rem;
    background-color: $clr-main-accent;
    color: $clr-main-light;
    font-size: $font-h4;
    font-family: $font-secondary;
    
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 60px;
    cursor: pointer;
    transition: $transition;

    &:hover {
        background-color: white;
        color: $clr-main-accent;
        border: 1px solid $clr-main-accent;
    }
}



.stars {
    color: #f3c623;
    font-size: $font-h2;
    width: fit-content;
}