@import '~/css/variables.scss';


.image {
    width: 100%;
    min-height: 110vh;
    height: fit-content;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(110%);
}

.overlay {
    width: 100%;
    min-height: 110vh;
    height: fit-content;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background: $gradient;
    opacity: 0.4;
    position: absolute;
    z-index: 2;
}

.container {
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: 110vh;
    height: fit-content;

    h1 {
        color: $clr-main-light;
        width: 95%;
       text-align: center;
       margin: 10% auto 2rem auto;
    }

    h2{
        color: $clr-text-dark;
        width: 95%;
        text-transform: uppercase;
        text-align: center;
        margin: 5rem auto 2rem auto;
        font-weight: 400;
    }
}

.newsletter{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    label{
        visibility: hidden;
            }
    
}

input[type=text],input[type=email]{
    height: 5rem;
    width: 95%;
   margin-bottom: 2rem;
    border-radius: 80px;
    background:#f6f5f586;
    border: 1px solid $clr-main-accent;
    outline: none;
    text-align: center;
    font-size: $font-h4;
    font-family:$font-secondary;
    font-weight: 100;
    transition: $transition;
    color: $clr-text-dark;   
    &:hover,&:focus{
        border: 2px solid $clr-main-accent;
    }

    &::-webkit-input-placeholder {
        font-size: $font-h4;
        font-weight: 100;    
    }
        }

    

    input[type=submit]{
    width: 95%;
    background: $clr-main-accent;
    color: $clr-main-light;
    font-family:$font-secondary;
    cursor: pointer;
    transition: $transition;
    color: $clr-main-light;  
    outline: none;
    height: 5.5rem;
    &:hover {
    background-color: white;
    color: $clr-main-accent;
    border: 1px solid $clr-main-accent;
    }

    }

   
@media (min-width: 48em) { 
    .container{
        h1, h2{
            width:80%
        }
    }
    .newsletter{
       input{
           width: 50%;
       }
    }
   
}